Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
-List popular languages for Data Science
-List libraries used by Data Scientis
-Examples of aritmethic expressions

Some of the popular languages that Data Scientists use are:
    1. Python
    2. R
    3. SQL
    4. JULIA

Some of the commonly used libraries used by Data Scientists include:
    1. Pandas
    2. Numpy
    3. Matplotlib
    4. Seaborn

|Data Science Tools|
--------------------
|MySQL|
|MongoDB|
|Hadoop|

###   Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [4]:
200/60

3.3333333333333335

##  Author
Natalia Roa